#main2{
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    color: white;
    background-color: black;
}

#main2intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main2intro1{
    margin: 0;
    font-size: 10px;
    text-transform: uppercase;
    color: aqua;
}

#main2intro2{
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
}
#gymcart{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.gymcart{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.gymcartlabel{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 30px;
}
.gymcarttext{
    padding-left: 45px;
    font-size: 10px;
}
.gymcarttitle{
    font-size: 20px;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 600;
}

.gymcarticon{
    color: aqua;
    font-size: 20px;
    background-color: rgba(2, 50, 50, 0.514);
    padding: 5px;
    border-radius: 100%;
}

